.App {
  text-align: center;
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(./background.png);
}

.App-body {
  min-height: 100vh;
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  font-size: calc(7px + 2vmin);
  color: #FFFFFF;
  background-color: #222A3C;
  border-radius: 3em;
  padding: 1em;
}

.App-footer {
  align-items: center;
  max-height: 5vh;
  max-width: 100vw;
  margin-top: 10px;
}

.App-banner {
  max-width: 80vw;
  max-height: 15vh;
}

.App-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  max-width: 15em;
  margin-top: 15px;
  border: 2px solid #3C404F;
  border-radius: 2em;
}

.App-list-item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  max-width: 15em;
  margin-top: 15px;
  border: 2px solid #1c1b1b;
  border-radius: 3em;
}

.App-list-item-left-section {
  margin-left: 2em;
  width: 21em;
}

.App-list-item-right-section {
  width: 2em;
}

.Carpark-list-item-upper-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

.Carpark-list-item-middle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

.Carpark-list-item-lower-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-availability-icon {
  margin-left: .5em;
  width: 2em;
  height: 2em;
  border-radius: 3em;
  animation-duration: 1s;
  animation-name: breathe;
  animation-iteration-count: infinite;
}

@keyframes breathe {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}

.App-back-icon {
  max-width: 2.5em;
}

.App-next-icon {
  max-width: 2em;
  fill: #3C404F;
}

.Availability {
  margin-left: 2em;
}

.App-inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-map {
  margin-top: 30px;
  max-width: 60vw;
  max-height: 40vh;
}

.Subnotation {
  font-size: .6em;
}

.Over-map {
  font-size: .7em;
  transform: translateY(1.5em);
}

.Heading-go-back {
  display: flex;
  justify-content: center;
  align-items: center;
}
