.App {
  text-align: center;
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(./background.png);
}

.App-body {
  min-height: 100vh;
  min-width: 60vw;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(7px + 2vmin);
  color: #FFFFFF;
  background-color: #222A3C;
}

.App-footer {
  align-items: center;
  max-height: 5vh;
  max-width: 100vw;
}

.App-banner {
  max-width: 80vw;
  max-height: 15vh;
}

.App-list-item {
  padding: 10px;
  min-width: 30vw;
  max-height: 7vh;
  margin-top: 15px;
  border: 2px solid black;
}

.App-availability-icon {
  margin-left: 10px;
  min-width: 5px;
}

.App-back-icon {
  max-width: 40px;
}

.App-inline {
  display: inline;
}

.App-map {
  margin-top: 30px;
  max-width: 60vw;
  max-height: 40vh;
}
